#cart-container{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: -300px;
    height: 100vh;
    background: rgb(26, 26, 26);
    padding: 20px 10px;

    overflow-y: scroll;
    
    padding-bottom: 50px;

    transition: 0.2s ease-in-out;
    display: grid;
    gap: 20px;

    &.visible{
        left: 0;
        .cart-item{
            left: 0px;
        }
    }

    .cart-item{
        display: flex;
        flex-direction: column;
        justify-content: center;

        min-height: min-content;
        height: 200px;
        width: 200px;
        position: relative;
        transition: left 0.4s ease-in-out;
        left: -200px;
    }


    img{
        align-self: flex-end;
        height: 20px;
        width: 20px;
    }

    h3{
        color: #fff;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        background: rgb(36, 36, 36);
        border-radius: 5px;

        h3{
            color: #4400FF;
        }

        p{
            color: #fff;
        }

        span{
            color: #fff;
        }

        button{
            padding: 5px 10px;
            align-self: stretch;
            background: crimson;
            border: 0;
            border-radius: 0 5px 5px 0;
            font-weight: bold;
            cursor: pointer;
        }
        
        
    }
}

#cart-border{
    position: fixed;
    height: 100vh;
    width: 200px;
    background: #4400FF;
    left: -300px;
    top: 0;
    z-index: 10;
    transition: left 0.2s ease-in-out;

    &.visible{
        left: 0px;
    }
}