#cart-counter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #ffff;
    position: relative;

    #logo{
        span{
            color: #4400FF;
            font-weight: bold;
        }
    }

    #cart-section{
        
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: bold;

        #cart-badge{
            background: #4400FF;
            padding: 5px;
            margin-left: 5px;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            
            &.badge-disable{
                position: absolute;
                top: -300px;
                right: 250px;
            }

            &.badge-enable{
                position: absolute;
                top: 10px;
                right: 250px;
            }
        }
        
        img{
            height: 30px;
            cursor: pointer;
        }
    }

}

//small devices
@media (max-width: 320px) { 
    #cart-counter{
        #cart-section{
            #cart-badge{
                &.badge-disable{
                    position: absolute;
                    top: -300px;
                    right: 55px;
                }
    
                &.badge-enable{
                    position: absolute;
                    top: 10px;
                    right: 55px;
                }
            }
        }
    }
}

//small devices
@media (max-width: 426px) { 
    #cart-counter{
        #cart-section{
            #cart-badge{
                &.badge-disable{
                    position: absolute;
                    top: -300px;
                    right: 55px;
                }
    
                &.badge-enable{
                    position: absolute;
                    top: 10px;
                    right: 55px;
                }
            }
        }
    }
}

//medium devices
@media (max-width: 1024px) { 
    #cart-counter{
        #cart-section{
            #cart-badge{
                &.badge-disable{
                    position: absolute;
                    top: -300px;
                    right: 55px;
                }
    
                &.badge-enable{
                    position: absolute;
                    top: 10px;
                    right: 55px;
                }
            }
        }
    }
}

//ultra large devices
@media (min-width: 1440px) { 
    #cart-counter{
        #cart-section{
            #cart-badge{
                &.badge-disable{
                    position: absolute;
                    top: -300px;
                    right: 60px;
                }
    
                &.badge-enable{
                    position: absolute;
                    right: 60px;
                }
            }
        }
    }
}