.navbar{

    background: rgb(26, 26, 26);
    border-bottom: 1px solid rgb(36, 36, 36);
    height: 50px;

    .navbar-container{
        margin: 0  auto;
        max-width: 1120px;
        height: 100%;
        padding: 0 10px;
    }
}