#products{
    padding: 20px;
    background: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    
    .container{
        overflow: hidden;
        display: flex;
        padding-top: 50px;
        flex-direction: column;
        align-items: center;
        width: 1120px;
    }
}

@media (min-width: 1120px) { 
    #products{
        
        .container{
            display: grid;
            grid-template-columns: 1fr 1fr;

        }
    }
}
